<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="dist/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="dist/css/app-base.css" />
    <link rel="stylesheet" type="text/css" href="dist/css/app-index.css" />
</head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script src="dist/js/vue.js"></script>
    <script src="dist/js/vue-router.min.js"></script>
    <script src="dist/js/vue-resource.min.js"></script>
    <script src="dist/js/vue-async-data.js"></script>
    <script src="dist/js/hammer.min.js"></script>
    <script src="dist/js/vue-touch.js"></script>
    <script src="dist/js/echarts.js"></script>
    <script src="dist/js/pie.js"></script>
    <script>
    Vue.use(VueAsyncData);
    Vue.use(VueTouch);
    Vue.config.debug = true;

    Vue.filter('time2Day', function(str) {
        var time = new Date(str);
        return time.getFullYear() + "/" + (time.getMonth() + 1) + '/' + time.getDate();
    })

    // 作为入口
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ]
    );

    var Index = Vue.extend({

        data: function() {
            imgs = ['dist/img/test3.jpg', 'dist/img/test2.jpg', 'dist/img/test1.jpg', 'dist/img/test4.jpg', 'dist/img/test5.jpg', 'dist/img/test6.jpg', 'dist/img/test7.jpg', 'dist/img/test8.jpg', 'dist/img/test9.jpg', 'dist/img/test10.jpg', 'dist/img/test11.jpg', 'dist/img/test12.jpg'];
            var cc = Math.round(Math.random() * imgs.length - 1);
            return {
                Index: {
                    bgimg: imgs[cc],
                    siteInfo: {
                        sitename: "Bookkeeper"
                    }
                }
            }
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><h1 id="title" class="mui-title">{{Index.siteInfo.sitename}}</h1></header>' +
            '<div class="mui-content index-page" style="background-image: url({{Index.bgimg}})">' +
            '<div class="button-box">' +
            '<button v-link="login" class="mui-btn go-button">开始记账</button><br>' +
            '<span></span>' +
            '</div>' +
            '</div>'

    })
    
    var User = Vue.extend({

        data: function() {
            
            if(localStorage.userInfo){
                userInfo = JSON.parse(localStorage.userInfo);
                return {
                    userInfo: userInfo,
                    billList:{
                        name:""
                    }
                }
            }else{
                router.go('');
                return{
                    userInfo:{
                        username:""
                    }
                }
            }
            
        },
        asyncData: function(resolve, reject) {
            this.$http.get('/get/billlist/' + this.$data.userInfo.bid, function(data, status, request) {
                if(data.error){
                    alert('opps');
                }else{
                    resolve({
                        billList: data.data
                    })
                }
                
            }).error(function(data, status, request) {

            });
        },
        methods: {
            goBack: function(e) {
                router.go('/chart');
            },
            logout: function(){
                localStorage.clear();
                router.go('/');
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><h1 id="title" class="mui-title">{{userInfo.username}}</h1>'+
            '<a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a>' +
            '</header>' +
            '<div class="mui-page-content user-page">'+
                '<ul class="mui-table-view mui-table-view-chevron">'+
                    '<li v-link="changebilllist" class="mui-table-view-cell">'+
                        '<a class="mui-navigate-right">账单 {{billList.name}}</a>'+
                    '</li>'+
                    '<li v-link="addbilllist" class="mui-table-view-cell">'+
                        '<a class="mui-navigate-right">添加账单</a>'+
                    '</li>'+
                '</ul>'+
                '<ul class="mui-table-view">'+
                    '<li class="mui-table-view-cell" style="text-align: center;">'+
                        '<a v-touch="tap:logout">退出</a>'+
                    '</li>'+
                '</ul>'+
            '</div>'

    })
    
    var ChangeBillList = Vue.extend({

        data: function() {
            
            if(localStorage.userInfo){
                userInfo = JSON.parse(localStorage.userInfo);
                return {
                    userInfo: userInfo,
                    billList:{
                        name:""
                    }
                }
            }
            
        },
        asyncData: function(resolve, reject) {
            console.log(this.$data.userInfo);
            this.$http.get('/get/billlist/' + this.$data.userInfo.bid, function(data, status, request) {
                if(data.error){
                    alert('opps');
                }else{
                    resolve({
                        billList: data.data
                    })
                }
                
            }).error(function(data, status, request) {

            });
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            },
            logout: function(){
                localStorage.clear();
                router.go('/');
            },
            saveChange: function(){
                this.$http.post('/change/billlist',{
                    id: this.$data.userInfo.bid,
                    name: this.$data.billList.name
                }, function(data, status, request) {
                    if(data.error){
                        alert('opps');
                    }else{
                       router.go('user');
                    }
                
                }).error(function(data, status, request) {

                });
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><h1 id="title" class="mui-title">{{userInfo.username}}</h1>'+
            '<a  v-on="click: saveChange" class="mui-icon mui-icon-checkmarkempty mui-pull-right"></a>' +
            '<a v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a>' +
            '</header>' +
            '<div class="mui-page-content billlist-page">'+
                '<p>账本ID：{{billList._id}}</p>'+
                '<input type="text" v-model="billList.name">'+
            '</div>'

    })

    var addBillList = Vue.extend({
        ready:function(){
            window.scrollTo(0, 0);
        },
        data: function() {
            
            if(localStorage.userInfo){
                userInfo = JSON.parse(localStorage.userInfo);
                return {
                    userInfo: userInfo,
                    bid:userInfo.bid
                }
            }
            
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            },
            logout: function(){
                localStorage.clear();
                router.go('/');
            },
            saveChange: function(){
                this.$http.post('/change/userbilllist',{
                    id: this.$data.userInfo.uid,
                    bid: this.$data.bid
                }, function(data, status, request) {
                    if(data.error){
                        alert('opps');
                    }else{
                        var user = JSON.parse(localStorage.userInfo);
                        user.bid = this.$data.bid;
                        localStorage.userInfo = JSON.stringify(user);
                       router.go('user');
                    }
                
                }).error(function(data, status, request) {

                });
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><h1 id="title" class="mui-title">{{userInfo.username}}</h1>'+
            '<a  v-on="click: saveChange" class="mui-icon mui-icon-checkmarkempty mui-pull-right"></a>' +
            '<a v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a>' +
            '</header>' +
            '<div class="mui-page-content billlist-page">'+
                '<p>账本ID:</p>'+
                '<input type="text" v-model="bid">'+
            '</div>'

    })

    var Login = Vue.extend({
        ready: function() {
            if(localStorage.userInfo){
                router.go('/user');
            }
        },
        data: function() {

            return {
                username: "",
                password: ""
            }
        },
        template: '<header class="header mui-bar mui-bar-nav hidden-header">' +
            '<a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a>' +
            '<h1 class="mui-title"></h1>' +
            '</header>' +
            '<div class=" mui-content login-page">' +
            '<form id="login-form" class="mui-input-group">' +
            '<div class="mui-input-row">' +
            '<input type="text" class="mui-input-clear mui-input" placeholder="请输入账号" v-model="username">' +
            '</div>' +
            '<div class="mui-input-row">' +
            '<input id="password" type="password" class="mui-input-clear mui-input" placeholder="请输入密码" v-model="password">' +
            '</div>' +
            '</form>' +

            '<div class="login-btn-box">' +
            '<div>' +
            '<button  v-link="/submit" class="md-btn">注册</button>' +
            '</div>' +
            '<div>' +
            '<button v-on="click:logined" class="md-btn md-btn-success">登录</button>' +
            '</div>' +
            '<div class="link-area"><a id="forgetPassword">忘记密码</a>' +
            '</div>' +
            '</div>' +

            '</div>',
        methods: {
            goBack: function(e) {
                location.href = '#!/'
            },
            logined: function() {
                if(this.$data.password==''||this.$data.username==''){
                    alert('没用户名和密码怎么登录啊');
                    return;
                }
                this.$http.post('/login', {
                    username: this.$data.username,
                    password: this.$data.password
                }, function(data, status, request) {
                    if (data.error) {
                        alert(data.msg);
                    } else {
                        localStorage.userInfo = JSON.stringify(data.data);
                        router.go('/chart');
                    }


                }).error(function(data, status, request) {

                });
            }
        }
    })
    var Reg = Vue.extend({
        ready: function() {},
        data: function() {
            return {
                username: "",
                password: "",
                repassword: ""
            }
        },
        template: '<header class="header mui-bar mui-bar-nav service-header">' +
            '<a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a>' +
            '<h1 class="mui-title"></h1>' +
            '</header>' +
            '<div class=" mui-content login-page">' +
            '<form class="mui-input-group">' +
            '<div class="mui-input-row">' +
            '<label>账号</label>' +
            '<input type="text" class="mui-input-clear mui-input" placeholder="请输入账号" v-model="username">' +
            '</div>' +
            '<div class="mui-input-row">' +
            '<label>密码</label>' +
            '<input type="password" class="mui-input-clear mui-input" placeholder="请输入密码" v-model="password">' +
            '</div>' +
            '<div class="mui-input-row">' +
            '<label>确认</label>' +
            '<input type="password" class="mui-input-clear mui-input" placeholder="请确认密码" v-model="repassword">' +
            '</div>' +
            '</form>' +
            '<div class="submit-btn-box">' +
            '<button v-on="click:reged" class="md-btn md-btn-success submit-btn">注册</button>' +
            '</div>' +

            '</div>',
        methods: {
            goBack: function(e) {
                location.href = '#!/'
            },
            reged: function() {
                if(this.$data.password != this.$data.repassword){
                    alert('两次输入密码不一致呢');
                    return ;
                }
                this.$http.post('/signin', {
                    username: this.$data.username,
                    password: this.$data.password
                }, function(data, status, request) {
                    
                    if(data.error){
                        alert(data.msg);
                    }else{
                        alert('success');
                        router.go('/chart');
                    }
                        
                    


                }).error(function(data, status, request) {

                });
            }
        }
    })

    var Chart = Vue.extend({

        data: function() {
            if (!localStorage.userInfo) {
                router.go('/login');
            }
            if(this.$route.params.month){
                var themonth = this.$route.params.month;
            }else{
               var month = new Date; 
               var themonth = month.getFullYear()+'-'+parseInt(month.getMonth()+1);
            }
            
            return {
                showModal: false,
                showAddModal: false,
                showAdd: false,
                siteInfo: {
                    sitename: themonth
                },
                month:themonth,
                bills: [],
                daylist:[],
                payment: 0,
                revenue: 0
            }
        },
        asyncData: function(resolve, reject) {
            
            var self = this;
            var userInfo = JSON.parse(localStorage.userInfo);

            this.$http.get('/billmonth/'+userInfo.bid+'/?month='+this.$data.month, function(data, status, request) {

                var asynBill = [];
                var daylist = [];
                var bdays = [];
                var singleday = new Date();
                for(m=0;m<data.length;m++){
                    singleday = new Date(Date.parse(data[m].bday.replace(/-/g, "/")));
                    asynBill.push({
                        'id':data[m]._id,
                        'cid':data[m].cid._id,
                        'ccid':data[m].cid.id,
                        'category': data[m].cid.name,
                        'price': data[m].price,
                        'user':data[m].uid.name,
                        'mark': data[m].mark,
                        'bday': data[m].bday,
                        'singleday':singleday.getDate(),
                        'timestamp': data[m].time,
                        'type': data[m].type
                    });
                }
                
                var dailyIdTmp = 0;
                var dayTmp = 0;
                var dailyDate = new Date(); 
                asynBill.sort(function(x, y){
                    return y.singleday - x.singleday;
                });
                localStorage.billList = JSON.stringify(asynBill);
                
                for(i=0;i<asynBill.length;i++){
                    if(asynBill[i].type == 'payment'){
                        if(dailyIdTmp == 0 && dayTmp==""){
                            daylist.push({
                                'price':asynBill[i].price,
                                'bday':asynBill[i].bday,
                                'num':1,
                                'day':asynBill[i].singleday
                            });
                        }else if(asynBill[i].singleday == dayTmp){
                            daylist[dailyIdTmp] = {
                                'price':(parseFloat(asynBill[i].price) + parseFloat(daylist[dailyIdTmp].price)).toFixed(2),
                                'bday':asynBill[i].bday,
                                'num':(daylist[dailyIdTmp].num+1),
                                'day':dayTmp
                            }
                            console.log("equal:"+asynBill[i].singleday+" "+dayTmp)
                            
                        }else if(asynBill[i].singleday != dayTmp){
                            
                            dailyPriceTmp = 0;
                            daylist.push({
                                'price':asynBill[i].price,
                                'bday':asynBill[i].bday,
                                'num':1,
                                'day':asynBill[i].singleday
                            });
                            dailyIdTmp++;
                        }
                        dayTmp = asynBill[i].singleday;
                    }
                }
                resolve({
                    daylist:daylist,
                    bills:asynBill
                })
                this.$nextTick(function() {
                    var clist = [];
                    var cdata = [];
                    for (j = 0; j < this.$data.bills.length; j++) {
                        if (this.$data.bills[j].type == 'payment') {
                            this.$data.payment += parseFloat(this.$data.bills[j].price);
                            if (clist.indexOf(this.$data.bills[j].category) == -1) {
                                clist.push(this.$data.bills[j].category);
                                cdata.push({
                                    'name': this.$data.bills[j].category,
                                    'value': 0
                                })
                            }
                        } else if (this.$data.bills[j].type == 'revenue') {
                            this.$data.revenue += parseFloat(this.$data.bills[j].price);
                        }
                    }

                    this.$data.payment = parseFloat(this.$data.payment).toFixed(2);
                    this.$data.revenue = this.$data.revenue.toFixed(2);

                    for (i = 0; i < this.$data.bills.length; i++) {
                        for (n = 0; n < cdata.length; n++) {
                            if (this.$data.bills[i].category == clist[n]) {
                                cdata[n].value = cdata[n].value + parseFloat(this.$data.bills[i].price);
                            }
                        }

                    }

                    var myChart = require('echarts').init(document.getElementById('chart'));
                    myChart.setOption({
                        backgroundColor: 'rgba(0,0,0,0)',
                        calculable: false,
                        tooltip: {
                            trigger: 'item',
                            formatter: "{b} : {c} ({d}%)"
                        },
                        calculable: true,
                        series: [{
                            type: 'pie',
                            radius: ['50%', '70%'],
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true
                                    },
                                    labelLine: {
                                        show: true
                                    }
                                }
                            },
                            data: cdata
                        }]
                    });
                });
                

            }).error(function(data, status, request) {

            });
            
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            },
            openAdd: function() {
                this.$data.showAdd = !this.$data.showAdd;
            },
            close: function() {
                this.$data.showModal = false;
                this.$data.showAddModal = false;
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a><button class="mui-btn mui-btn-link mui-btn-nav mui-pull-right"><span></span></button><button v-link="/user" class="mui-btn mui-btn-link mui-btn-nav mui-pull-right"><span class="mui-icon mui-icon-person"></span></button><h1 id="title" class="mui-title">{{siteInfo.sitename}}</h1></header>' +
            '<div class="modal-mask" v-if="showModal" v-transition="modal">' +
            '<div class="modal-wrapper">' +
            '<div class="modal-container" v-if="showAddModal">' +
            '<button v-touch="tap:close" class="close-modal-btn">×</button>' +
            '<content select=".modal-header">' +
            '<div class="modal-header">' +
            '添加' +
            '</div>' +
            '</content>' +
            '<content select=".modal-body">' +
            '<div class="modal-body">' +
            '<input class="doned-input" v-model="itemname" autofocus="autofocus">' +
            '<button class="doned-btn" v-on="click:add "> Done </button>' +
            '</div>' +
            '</content>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="mui-content chart-page">' +
            '<div class="chart">' +
            '<div class="chart-box">' +
            '<div id="chart"></div>' +
            '<div class="chart-txt">' +
            '<div class="chart-txt-left"><span>收入 ￥{{revenue}}</span></div>' +
            '<div class="chart-txt-left"><span>支出 ￥{{payment}}</span></div>' +
            '</div>' +
            '</div>' +
            '<div class="chart-list">' +
            '<ul>' +
            '<li  v-link="daily/{{day.bday}}" v-repeat="day in daylist">' +
            '<div class="month-icon"><span>{{day.day}}</span></div>' +
            '<div class="month-txt"><span class="bill-name">{{day.num}}}笔消费记账</span><span class="bill-price">￥{{day.price}}</span><br/></div>' +
            '</li>' +
            '</ul>' +
            '</div>' +
            '</div>' +
            '<div v-if="showAdd" class="chart-add-box">' +
            '<div class="chart-add-btn"  v-link="add/revenue">' +
            '<span>收入</span>' +
            '</div>' +
            '<div class="chart-add-btn"  v-link="add/payment">' +
            '<span>花费</span>' +
            '</div>' +
            '</div>' +
            '<div class="add-box"  v-touch="tap:openAdd">' +
            '<span>＋</span>' +
            '</div>' +
            '</div>'

    })

    var Monthly = Vue.extend({

        data: function() {
            if (!localStorage.userInfo) {
                router.go('/login');
            }
            if(this.$route.params.month){
                var themonth = this.$route.params.month;
            }else{
               var month = new Date; 
               var themonth = month.getFullYear()+'-'+parseInt(month.getMonth()+1);
            }
            
            return {
                showModal: false,
                showAddModal: false,
                showAdd: false,
                siteInfo: {
                    sitename: themonth
                },
                month:themonth,
                bills: [],
                payment: 0,
                revenue: 0
            }
        },
        asyncData: function(resolve, reject) {
            
            var self = this;
            var userInfo = JSON.parse(localStorage.userInfo);

            this.$http.get('/billlist/'+userInfo.bid+'/?month='+this.$data.month, function(data, status, request) {
                var asynBill = [];
                
                for(m=0;m<data.length;m++){
                    asynBill.push({
                        'id':data[m]._id,
                        'cid':data[m].cid._id,
                        'category': data[m].cid.name,
                        'price': data[m].price,
                        'user':data[m].uid.name,
                        'mark': data[m].mark,
                        'bday': data[m].bday,
                        'timestamp': data[m].time,
                        'type': data[m].type
                    });
                }
                asynBill = asynBill.reverse();
                localStorage.billList = JSON.stringify(asynBill);

                resolve({
                    bills:asynBill
                })
                this.$nextTick(function() {
                    var clist = [];
                    var cdata = [];
                    for (j = 0; j < this.$data.bills.length; j++) {
                        if (this.$data.bills[j].type == 'payment') {
                            this.$data.payment += parseFloat(this.$data.bills[j].price);
                            if (clist.indexOf(this.$data.bills[j].category) == -1) {
                                clist.push(this.$data.bills[j].category);
                                cdata.push({
                                    'name': this.$data.bills[j].category,
                                    'value': 0
                                })
                            }
                        } else if (this.$data.bills[j].type == 'revenue') {
                            this.$data.revenue += parseFloat(this.$data.bills[j].price);
                        }
                    }

                    this.$data.payment = parseFloat(this.$data.payment).toFixed(2);
                    this.$data.revenue = this.$data.revenue.toFixed(2);

                    for (i = 0; i < this.$data.bills.length; i++) {
                        for (n = 0; n < cdata.length; n++) {
                            if (this.$data.bills[i].category == clist[n]) {
                                cdata[n].value = cdata[n].value + parseFloat(this.$data.bills[i].price);
                            }
                        }

                    }

                    var myChart = require('echarts').init(document.getElementById('chart'));
                    myChart.setOption({
                        backgroundColor: '#5677fc',
                        calculable: false,
                        tooltip: {
                            trigger: 'item',
                            formatter: "{b} : {c} ({d}%)"
                        },
                        calculable: true,
                        series: [{
                            type: 'pie',
                            radius: ['50%', '70%'],
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true
                                    },
                                    labelLine: {
                                        show: true
                                    }
                                }
                            },
                            data: cdata
                        }]
                    });
                });
                

            }).error(function(data, status, request) {

            });
            
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            },
            openAdd: function() {
                this.$data.showAdd = !this.$data.showAdd;
            },
            close: function() {
                this.$data.showModal = false;
                this.$data.showAddModal = false;
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a><button class="mui-btn mui-btn-link mui-btn-nav mui-pull-right"><span></span></button><h1 id="title" class="mui-title">{{siteInfo.sitename}}</h1></header>' +
            '<div class="modal-mask" v-if="showModal" v-transition="modal">' +
            '<div class="modal-wrapper">' +
            '<div class="modal-container" v-if="showAddModal">' +
            '<button v-touch="tap:close" class="close-modal-btn">×</button>' +
            '<content select=".modal-header">' +
            '<div class="modal-header">' +
            '添加' +
            '</div>' +
            '</content>' +
            '<content select=".modal-body">' +
            '<div class="modal-body">' +
            '<input class="doned-input" v-model="itemname" autofocus="autofocus">' +
            '<button class="doned-btn" v-on="click:add "> Done </button>' +
            '</div>' +
            '</content>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="mui-content chart-page">' +
            '<div class="chart">' +
            '<div class="chart-box">' +
            '<div id="chart"></div>' +
            '<div class="chart-txt">' +
            '<div class="chart-txt-left"><span>收入 ￥{{revenue}}</span></div>' +
            '<div class="chart-txt-left"><span>支出 ￥{{payment}}</span></div>' +
            '</div>' +
            '</div>' +
            '<div class="chart-list">' +
            '<ul>' +
            '<li  v-repeat="bill in bills">' +
            '<div class="bill-icon bill-icon-{{bill.cid}}"></div>' +
            '<div class="bill-txt"><span v-link="change/{{bill.timestamp}}" class="bill-name">{{bill.category}}</span><span class="bill-price">￥{{bill.price}}</span><br/><span class="bill-mark">{{bill.mark}}</span></div>' +
            '<div class="bill-time"><span>{{bill.user}} 记录于 <span><span v-link="/daily/{{bill.bday}}">{{bill.bday}}</span></div>' +
            '</li>' +
            '</ul>' +
            '</div>' +
            '</div>' +
            '<div v-if="showAdd" class="chart-add-box">' +
            '<div class="chart-add-btn"  v-link="add/revenue">' +
            '<span>收入</span>' +
            '</div>' +
            '<div class="chart-add-btn"  v-link="add/payment">' +
            '<span>花费</span>' +
            '</div>' +
            '</div>' +
            '<div class="add-box"  v-touch="tap:openAdd">' +
            '<span>＋</span>' +
            '</div>' +
            '</div>'

    })

    var Daily = Vue.extend({

        data: function() {
            var billList = [];
            var DailyList = [];
            var theDay = this.$route.params.day;
            if (localStorage.billList) {
                billList = JSON.parse(localStorage.billList);
                billList.reverse();
                for (i = 0; i < billList.length; i++) {
                    if (billList[i].bday == theDay) {
                        DailyList.push(billList[i]);
                    }
                }

            }

            return {
                showModal: false,
                showAddModal: false,
                siteInfo: {
                    sitename: this.$route.params.day
                },
                bills: DailyList,
                payment: 0,
                revenue: 0
            }
        },
        asyncData: function(resolve, reject) {
            var clist = [];
            var cdata = [];

            for (j = 0; j < this.$data.bills.length; j++) {
                console.log(this.$data.bills);
                console.log(this.$data.bills[j]);
                if (this.$data.bills[j].type == 'payment') {
                    this.$data.payment += parseFloat(this.$data.bills[j].price);
                    if (clist.indexOf(this.$data.bills[j].category) == -1) {
                        clist.push(this.$data.bills[j].category);
                        cdata.push({
                            'name': this.$data.bills[j].category,
                            'value': 0
                        })
                    }
                } else if (this.$data.bills[j].type == 'revenue') {
                    this.$data.revenue += parseFloat(this.$data.bills[j].price);
                }

            }
            this.$data.revenue = this.$data.revenue.toFixed(2);
            this.$data.payment = parseFloat(this.$data.payment).toFixed(2);
            for (i = 0; i < this.$data.bills.length; i++) {
                for (n = 0; n < cdata.length; n++) {
                    if (this.$data.bills[i].category == clist[n]) {
                        cdata[n].value = cdata[n].value + parseFloat(this.$data.bills[i].price);
                    }
                }

            }
            var self = this;

            
                    self.$nextTick(function() {
                        var myChart = require('echarts').init(document.getElementById('chart'));
                        myChart.setOption({
                            backgroundColor: 'rgba(0,0,0,0)',
                            calculable: false,
                            tooltip: {
                                trigger: 'item',
                                formatter: "{b} : {c} ({d}%)"
                            },
                            calculable: true,
                            series: [{
                                type: 'pie',
                                radius: ['50%', '70%'],
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true
                                        },
                                        labelLine: {
                                            show: true
                                        }
                                    }
                                },
                                data: cdata
                            }]
                        });
                    });

                
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            },
            showAdd: function() {
                this.$data.showModal = true;
                this.$data.showAddModal = true;
            },
            close: function() {
                this.$data.showModal = false;
                this.$data.showAddModal = false;
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a><button class="mui-btn mui-btn-link mui-btn-nav mui-pull-right"><span></span></button><h1 id="title" class="mui-title">{{siteInfo.sitename}}</h1></header>' +
            '<div class="modal-mask" v-if="showModal" v-transition="modal">' +
            '<div class="modal-wrapper">' +
            '<div class="modal-container" v-if="showAddModal">' +
            '<button v-touch="tap:close" class="close-modal-btn">×</button>' +
            '<content select=".modal-header">' +
            '<div class="modal-header">' +
            '添加' +
            '</div>' +
            '</content>' +
            '<content select=".modal-body">' +
            '<div class="modal-body">' +
            '<input class="doned-input" v-model="itemname" autofocus="autofocus">' +
            '<button class="doned-btn" v-on="click:add "> Done </button>' +
            '</div>' +
            '</content>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="mui-content chart-page">' +
            '<div class="chart">' +
            '<div class="chart-box">' +
            '<div id="chart"></div>' +
            '<div class="chart-txt">' +
            '<div class="chart-txt-left"><span>收入 ￥{{revenue}}</span></div>' +
            '<div class="chart-txt-left"><span>支出 ￥{{payment}}</span></div>' +
            '</div>' +
            '</div>' +
            '<div class="chart-list">' +
            '<ul>' +
            '<li  v-repeat="bill in bills">' +
            '<div class="bill-icon bill-icon-{{bill.ccid}}"></div>' +
            '<div class="bill-txt"><span v-link="/change/{{bill.timestamp}}" class="bill-name">{{bill.category}}</span><span class="bill-price">￥{{bill.price}}</span><br/><span class="bill-mark">{{bill.mark}}</span></div>' +
            '<div class="bill-time"><span>{{bill.user}} 记录于 <span><span>{{bill.bday}}</span></div>' +
            '</li>' +
            '</ul>' +
            '</div>' +
            '</div>' +
            '</div>'

    })

    var Add = Vue.extend({
        ready: function() {
            if (!localStorage.userInfo) {
                router.go('/login');
            }
        },
        data: function() {
            var categoryList = [];
            var type = this.$route.params.type;

            var thetime = new Date();
            return {
                Index: {
                    siteInfo: {
                        sitename: "记录"
                    },
                },
                thisTime: thetime,
                ModalShow: false,
                ModalMark: false,
                ModalMsg: "",
                price: 0,
                category: "",
                cid: "",
                marked: "",
                type: type,
                categoryList: categoryList,
                inputNum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, '.']
            }
        },
        asyncData: function(resolve, reject) {
            this.$http.get('/get/category/' + this.$route.params.type, function(data, status, request) {
                resolve({
                    categoryList: data
                })
            }).error(function(data, status, request) {

            });
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            },
            setCategory: function(e) {
                var lables = document.getElementsByClassName('category-on');
                for (i = 0; i < lables.length; i++) {
                    lables[i].removeAttribute("class");
                }
                e.target.setAttribute('class', 'category-on');
                this.$data.category = e.target.innerText;
                this.$data.cid = e.target.getAttribute('cid');
            },
            inputThis: function(e) {
                if (this.$data.price == 0) {
                    this.$data.price = e.target.innerText;
                } else {
                    this.$data.price += e.target.innerText;
                }

            },
            delThis: function() {
                if (this.$data.price != 0) {
                    this.$data.price = this.$data.price.substr(0, this.$data.price.length - 1);
                    if (this.$data.price.length == 0) {
                        this.$data.price = 0;
                    }
                }
            },
            doThis: function() {
                var userInfo = JSON.parse(localStorage.userInfo);

                if (this.$data.price == 0) {
                    this.$data.ModalShow = true;
                    this.$data.ModalMsg = '没花钱？';
                } else if (this.$data.category.length == 0) {
                    this.$data.ModalShow = true;
                    this.$data.ModalMsg = '没选择分类';
                } else {
                    var timestamp = (new Date()).valueOf();
                    var time = new Date(this.$data.thisTime);
                    var bday = time.getFullYear() + "-" + (time.getMonth() + 1) + '-' + time.getDate();

                    var newbill = {
                        'cid': this.$data.cid,
                        'category': this.$data.category,
                        'price': this.$data.price,
                        'mark': this.$data.marked,
                        'bday': bday,
                        'time': bday,
                        'type': this.$data.type,
                        'uid': userInfo.uid,
                        'user': userInfo.username,
                        'bid': userInfo.bid
                    };
                    this.$http.post('/add/bill',newbill, function(data, status, request) {
                        console.log('ok');
                    }).error(function(data, status, request) {

                    });
                    var billList = [];
                    if (localStorage.billList) {
                        billList = JSON.parse(localStorage.billList);
                    }
                    billList.push(newbill);
                    localStorage.billList = JSON.stringify(billList);
                    this.$data.ModalShow = true;
                    this.$data.ModalMsg = '已经帮你记好了~';
                    this.$data.price = 0;
                    this.$data.category = '';
                    var lables = document.getElementsByClassName('category-on');
                    for (i = 0; i < lables.length; i++) {
                        lables[i].removeAttribute("class");
                    }
                }
            },
            Modal: function(e, msg) {
                this.$data.ModalShow = true;
                this.$data.ModalMsg = msg;
            },
            close: function() {
                this.$data.ModalShow = false;
            },
            changeMark: function() {
                this.$data.ModalShow = true;
                this.$data.ModalMark = true;
            },
            setMark: function() {
                this.$data.ModalShow = false;
                this.$data.ModalMark = false;
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a><h1 id="title" class="mui-title">{{Index.siteInfo.sitename}}</h1></header>' +
            '<div class="modal-mask" v-if="ModalShow" v-transition="modal">' +
            '<div class="modal-wrapper">' +
            '<div class="modal-container" >' +
            '<button v-touch="tap:close" class="close-modal-btn">×</button>' +
            '<content select=".modal-header">' +
            '<div class="modal-header">' +
            '</div>' +
            '</content>' +
            '<content select=".modal-body" v-if="!ModalMark">' +
            '<div class="modal-body">' +
            '<p>{{ModalMsg}}</p>' +
            '<button class="doned-btn" v-on="click:ModalShow = false "> OK </button>' +
            '</div>' +
            '</content>' +
            '<content select=".modal-body" v-if="ModalMark">' +
            '<div class="modal-body">' +
            '<input class="doned-input" v-model="marked" autofocus="autofocus">' +
            '<button class="doned-btn" v-on="click:setMark "> Done </button>' +
            '</div>' +
            '</content>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="mui-content add-page">' +
            '<div class="add-price-box"><span class="add-price">￥{{price}}</span></div>' +
            '<div class="add-category">' +
            '<ul>' +
            '<li class="category-item" v-repeat="c in categoryList" v-touch="tap:setCategory"><div><div cid="{{c._id}}">{{c.name}}</div></li>' +
            '</ul>' +
            '</div>' +
            '<div class="add-time">' +
            '<div class="add-time-btn">' +
            '<label for="addingtime">{{thisTime | time2Day}}</label><input id="addingtime" type="date" v-model="thisTime"/>' +
            '</div>' +
            '<div class="add-mark-box">' +
            '<div class="add-mark-btn" v-touch="tap:changeMark">添加备注</div>' +
            '</div>' +
            '<div class="add-marked-box">' +
            '<div class="">{{marked}}</div>' +
            '</div>' +
            '</div>' +
            '<div class="add-input-box">' +
            '<ul class="add-input-num">' +
            '<li v-repeat="num in inputNum" v-touch="tap:inputThis"><span>{{num}}</span></li>' +
            '<li><span>$</span></li>' +
            '</ul>' +
            '<ul class="add-input-tool">' +
            '<li v-touch="tap:delThis"><span>X</span></li>' +
            '<li><span>+</span></li>' +
            '<li v-touch="tap:doThis"><span>确定</span></li>' +
            '</ul>' +
            '</div>' +

            '</div>'

    })

    var Change = Vue.extend({

        data: function() {
            var billList = JSON.parse(localStorage.billList);
            var bill = {};
            for (i = 0; i < billList.length; i++) {
                if (billList[i].timestamp == this.$route.params.timestamp) {
                    bill = billList[i];
                }
            }
            var thetime = new Date(bill.bday);
            return {
                Index: {
                    siteInfo: {
                        sitename: "Bookkeeper"
                    },
                },
                thisTime: thetime,
                ModalShow: false,
                ModalMark: false,
                ModalMsg: "",
                KeyShow: false,
                id:bill.id,
                timestamp: bill.timestamp,
                price: bill.price,
                cid:bill.cid,
                category: bill.category,
                marked: bill.mark,
                type: bill.type,
                categoryList: [],
                inputNum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, '.']
            }
        },
        asyncData: function(resolve, reject) {

            this.$http.get('/get/category/' + this.$data.type, function(data, status, request) {
                resolve({
                    categoryList: data
                })

                this.$nextTick(function() {
                    var lables = document.getElementsByClassName('category-name');
                    for (i = 0; i < lables.length; i++) {
                        if (lables[i].innerText == this.$data.category) {
                            lables[i].setAttribute('class', 'category-name category-on');
                        }
                    }
                })
            }).error(function(data, status, request) {

            });

            
        },
        methods: {
            goBack: function(e) {
                history.go(-1);
            },
            setCategory: function(e) {
                var lables = document.getElementsByClassName('category-on');
                for (i = 0; i < lables.length; i++) {
                    lables[i].removeAttribute("class");
                }
                e.target.setAttribute('class', 'category-on');
                this.$data.category = e.target.innerText;
                this.$data.cid = e.target.getAttribute('cid');
            },
            inputThis: function(e) {
                if (this.$data.price == 0) {
                    this.$data.price = e.target.innerText;
                } else {
                    this.$data.price += e.target.innerText;
                }

            },
            delThis: function() {
                if (this.$data.price != 0) {
                    this.$data.price = this.$data.price.substr(0, this.$data.price.length - 1);
                    if (this.$data.price.length == 0) {
                        this.$data.price = 0;
                    }
                }
            },
            delBill: function() {
                // var billList = JSON.parse(localStorage.billList);
                // for (i = 0; i < billList.length; i++) {
                //     if (billList[i].id == this.$data.bill.id) {
                //         billList.splice(i, 1);
                //     }
                // }
                // localStorage.billList = JSON.stringify(billList);
                this.$http.get('/del/bill/'+this.$data.id, function(data, status, request) {
                        if (data.error) {
                            alert('error');
                        } else {
                            alert('ok');
                            router.go('/chart');
                        }

                    }).error(function(data, status, request) {
                        alert('error');
                    });

                
            },
            doThis: function() {
                if (this.$data.price == 0) {
                    this.$data.ModalShow = true;
                    this.$data.ModalMsg = '没花钱？';
                } else if (this.$data.category.length == 0) {
                    this.$data.ModalShow = true;
                    this.$data.ModalMsg = '没选择分类';
                } else {
                    var time = new Date(this.$data.thisTime);
                    var bday = time.getFullYear() + "-" + (time.getMonth() + 1) + '-' + time.getDate();

                    this.$http.post('/change/bill', {
                        'id':this.$data.id,
                        'cid':this.$data.cid,
                        'price': this.$data.price,
                        'mark': this.$data.marked,
                        'bday': bday,
                        'timestamp': this.$data.timestamp,
                        'type': this.$data.type
                    }, function(data, status, request) {
                        if (data.error) {
                            alert('error');
                        } else {
                            alert('ok');
                            router.go('/chart');
                        }

                    }).error(function(data, status, request) {

                    });

                    this.$data.ModalShow = true;
                    this.$data.ModalMsg = '已经帮你记好了~';
                }
            },
            Modal: function(e, msg) {
                this.$data.ModalShow = true;
                this.$data.ModalMsg = msg;
            },
            close: function() {
                this.$data.ModalShow = false;
            },
            changeMark: function() {
                this.$data.ModalShow = true;
                this.$data.ModalMark = true;
            },
            setMark: function() {
                this.$data.ModalShow = false;
                this.$data.ModalMark = false;
            }
        },
        template: '<header class="header mui-bar mui-bar-nav"><a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a><h1 id="title" class="mui-title">{{Index.siteInfo.sitename}}</h1></header>' +
            '<div class="modal-mask" v-if="ModalShow" v-transition="modal">' +
            '<div class="modal-wrapper">' +
            '<div class="modal-container" >' +
            '<button v-touch="tap:close" class="close-modal-btn">×</button>' +
            '<content select=".modal-header">' +
            '<div class="modal-header">' +
            '</div>' +
            '</content>' +
            '<content select=".modal-body" v-if="!ModalMark">' +
            '<div class="modal-body">' +
            '<p>{{ModalMsg}}</p>' +
            '<button class="doned-btn" v-on="click:ModalShow = false "> OK </button>' +
            '</div>' +
            '</content>' +
            '<content select=".modal-body" v-if="ModalMark">' +
            '<div class="modal-body">' +
            '<input class="doned-input" v-model="marked" autofocus="autofocus">' +
            '<button class="doned-btn" v-on="click:setMark "> Done </button>' +
            '</div>' +
            '</content>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="mui-content add-page">' +
            '<div class="add-price-box" v-touch="tap:KeyShow = true"><span class="add-price">￥{{price}}</span></div>' +
            '<div class="add-category">' +
            '<ul>' +
            '<li class="category-item" v-repeat="c in categoryList" v-touch="tap:setCategory"><div><div cid="{{c._id}}" class="category-name">{{c.name}}</div></li>' +
            '</ul>' +
            '</div>' +
            '<div class="add-time">' +
            '<div class="add-time-btn">' +
            '<label for="addingtime">{{thisTime | time2Day}}</label><input id="addingtime" type="date" v-model="thisTime"/>' +
            '</div>' +
            '<div class="add-mark-box">' +
            '<div class="add-mark-btn" v-touch="tap:changeMark">添加备注</div>' +
            '</div>' +
            '<div class="add-marked-box">' +
            '<div class="">{{marked}}</div>' +
            '</div>' +
            '</div>' +
            '<div class="add-btn-box" v-if="!KeyShow">' +
            '<div><button class="md-btn" v-touch="tap:delBill">删除</button></div>' +
            '<div><button class="md-btn md-btn-success" v-touch="tap:doThis">保存</button></div>' +
            '</div>' +
            '<div class="add-input-box" v-if="KeyShow">' +
            '<ul class="add-input-num">' +
            '<li v-repeat="num in inputNum" v-touch="tap:inputThis"><span>{{num}}</span></li>' +
            '<li><span>$</span></li>' +
            '</ul>' +
            '<ul class="add-input-tool">' +
            '<li v-touch="tap:delThis"><span>X</span></li>' +
            '<li><span>+</span></li>' +
            '<li v-touch="tap:KeyShow = false"><span>确定</span></li>' +
            '</ul>' +
            '</div>' +

            '</div>'

    })


    var App = Vue.extend({})

    var router = new VueRouter()

    router.map({
        '/': {
            component: Index
        },
        '/chart': {
            component: Chart
        },
        '/month': {
            component: Monthly
        },
        '/month/:month': {
            component: Monthly
        },
        '/add/:type': {
            component: Add
        },
        '/change/:timestamp': {
            component: Change
        },
        '/daily/:day': {
            component: Daily
        },
        '/login': {
            component: Login
        },
        'submit': {
            component: Reg
        },
        '/user':{
            component: User
        },
        '/changebilllist':{
            component: ChangeBillList
        },
        '/addbilllist':{
            component: addBillList
        }
    })

    router.start(App, '#app')
    </script>
</body>

</html>
